.editor {
    width: 100%;
    height: 30rem;
    background-color: var(--surface-panel);
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    border: 1px solid var(--border-primary);

    &:before {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 3.5rem;
        height: 29.9rem;
        background-color: var(--editor-line-number-bg);
        border-bottom-left-radius: 0.8rem;
    }

    ul {
        width: 100%;
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;

        li {
            display: flex;
            align-items: center;
            height: 2rem;
            gap: 0.7rem;

            &:first-child {
                margin-top: 0.5rem;
            }

            &:last-child {
                margin-bottom: 0.5rem;
            }

            div {
                width: calc(100% - 4.7rem);
                height: 100%;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                input {
                    outline: none;
                    border: none;
                    color: var(--text-primary);
                    font-weight: 500;
                    background-color: var(--editor-input-bg);
                    padding: 0rem 0.4rem;
                    height: 100%;
                    border-radius: 0.5rem;
                }

                span {
                    height: fit-content;
                    font-weight: 600;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.line-number {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 3.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

[data-input-type="key"] {
    min-width: 4rem;
    max-width: 27.7rem;
    color: var(--editor-key-input-text) !important;
}

[data-input-type="value"] {
    min-width: 6rem;
    max-width: 27.7rem;
    color: var(--editor-value-input-text) !important;
}

[data-input-type="comment"] {
    min-width: 8rem;
}
