:root {
    --app-container: 1000px;
}

body {
    background-color: var(--surface-bg);
    color: var(--text-primary);
}

.container {
    max-width: var(--app-container);
    width: 100%;
    margin: 0 auto;
}

a {
    color: var(--text-primary);
}

button {
    background-color: transparent;
    border: none;
    color: var(--text-primary);
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
